@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .clip-trapezium-right {
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  }
  .clip-trapezium-inner-left {
    clip-path: polygon(7% 0, 100% 0, 100% 100%, 2% 100%);
  }
  .clip-trapezium-left {
    clip-path: polygon(7% 0, 100% 0, 100% 100%, 0% 100%);
  }
}

.custom-highlight {
  background-color: #008000;
}