# Sys files
**/.DS_Store

# Scarb and Starknet Foundry
**/target
**/.snfoundry_cache/

# Starkli
**/account.json
**/keystore.json

# All Contributors CLI
/package.json
/yarn.lock
node_modules/

# Development
**/TODO
